# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin

# Fichiers binaires générés par gcc/g++
*.o
*.a
*.so
*.d

# Fichiers binaires générés par CMake
cmake_install.cmake
CMakeCache.txt
CMakeFiles/

# Doxygen
doc/html/
doc/latex/